<div>
    <h4>{{title}}</h4>

    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Add Functions</label>
            <div class="controls">
                <span class="btn btn-success fileinput-button"> 
                    <i class="icon-plus icon-white"></i> 
                    <span>Select file</span> 
                    <input id="fileupload" type="file" name="files" data-url="addfunctions">
                </span>
                <div id="spinner" class="spinner" style="display: none;">
                    <img id="img-spinner" src="img/icon/loading.gif" alt="Loading" />
                </div>
            </div>
        </div>
    </div>
     
</div>