<div>

    <h4>Identifier file</h4>

    <dl class="dl-horizontal">
        <dt>Data file</dt>
        <dd>{{{link}}}</dd>
        <dt>Upload date</dt>
        <dd>{{date}}</dd>
    </dl>

    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Replace</label>
            <div class="controls">
                <span class="btn btn-success fileinput-button"> <i class="icon-plus icon-white"></i> <span>Select file</span> <input
                    id="fileupload" type="file" name="files" data-url="replaceidentifiers" />
                </span>
                <div id="spinner" class="spinner" style="display: none;">
                    <img id="img-spinner" src="img/icon/loading.gif" alt="Loading" />
                </div>
            </div>
        </div>
    </div>

    <form class="form-horizontal" id="identifiersForm" action="deleteidentifiers" method="post">
        <input type="hidden" name="organismId" value="{{organismId}}" />
        <input type="hidden" name="identifiersId" value="{{id}}" />
        <div class="form-actions">
            <button id="deleteButton" name="deleteButton" value="deleteButton" type="submit" class="btn pull-right">Delete</button>
        </div>
    </form>

</div>