<p>
  <span>{{rAttr.resultAttributeGroup.attributeGroup.name}} : {{rAttr.attribute.name}}</span> <a ng-if="rAttr.links" target="_blank" href="{{rAttr.links[0].url}}"><span class="fa fa-external-link"></span></a>
</p>

<p>
  <span class="fa fa-file-o"></span>
  <span>{{rAttr.resultAttributeGroup.attributeGroup.publicationName}}</span>
  <a target="_blank" href="{{rAttr.resultAttributeGroup.attributeGroup.publicationUrl}}"><span class="fa fa-external-link"></span></a>
</p>

<p>
  <span class="fa fa-share-alt"></span>
  <span>{{rAttr.resultAttributeGroup.attributeGroup.description}}</span>
</p>
