<div ng-controller="ResultCtrl">

  <div id="layout-circle" class="graph-button activatable graph-button-row-1" on-tap="result.circleLayout()"><i class="fa fa-dot-circle-o"></i></div>
  <qtip
    qtip-target="layout-circle"
    qtip-pos-my="left center" qtip-pos-at="right center"
    qtip-class="qtip-no-padding"
    qtip-hide-after="5000"
    qtip-force-hide-on="result.layoutUndone"
  >
    <div class="undo-layout activatable-bg" on-tap="result.undoLayout()">
      <i class="fa fa-undo"></i> Undo
    </div>
  </qtip>

  <div id="layout-linear" class="graph-button activatable graph-button-row-2" on-tap="result.linearLayout()"><i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-down"></i></div>
  <qtip
    qtip-target="layout-linear"
    qtip-pos-my="left center" qtip-pos-at="right center"
    qtip-class="qtip-no-padding"
    qtip-hide-after="5000"
    qtip-force-hide-on="result.layoutUndone"
  >
    <div class="undo-layout activatable-bg" on-tap="result.undoLayout()">
      <i class="fa fa-undo"></i> Undo
    </div>
  </qtip>

  <div id="layout-force-refresh" class="graph-button activatable graph-button-row-3" on-tap="result.forceLayout()"><i class="fa fa-random"></i></div>
  <qtip
    qtip-target="layout-force-refresh"
    qtip-pos-my="left center" qtip-pos-at="right center"
    qtip-class="qtip-no-padding"
    qtip-hide-after="7500"
    qtip-force-hide-on="result.layoutUndone"
  >
    <div class="undo-layout activatable-bg" on-tap="result.undoLayout()">
      <i class="fa fa-undo"></i> Undo
    </div>
  </qtip>

  <div id="layout-force" class="graph-button activatable graph-button-row-4" on-tap="result.forceLayout({ randomize: false })"><i class="fa fa-refresh"></i></div>
  <qtip
    qtip-target="layout-force"
    qtip-pos-my="left center" qtip-pos-at="right center"
    qtip-class="qtip-no-padding"
    qtip-hide-after="7500"
    qtip-force-hide-on="result.layoutUndone"
  >
    <div class="undo-layout activatable-bg" on-tap="result.undoLayout()">
      <i class="fa fa-undo"></i> Undo
    </div>
  </qtip>

  <div class="graph-button activatable graph-button-row-5" on-tap="result.fitGraph()"><i class="fa fa-arrows-h fa-rotate-45"></i></div>

  <div id="graph-button-info" class="graph-button activatable graph-button-row-7"><i class="fa fa-info-circle"></i></div>
  <qtip
    qtip-target="graph-button-info"
    qtip-id="graph-info"
    qtip-adjust-method="shift"
    qtip-adjust-resize="true"
    qtip-pos-my="left center" qtip-pos-at="right center"
    qtip-class="qtip-no-padding"
  >
    <div class="graph-info-qtip-content">
      Showing {{result.query.maxGenes}} related genes,
      with {{result.resultGenes.length}} total genes,
      {{result.resultAttributeGroups.length}} attributes, and
      and {{result.resultInteractions.length}} total links.

      <div class="search-genes-legend">
        <span class="search-genes-legend-color"><span class="fa-stack"><i class="fa fa-square fa-stack-1x"></i><i class="fa fa-bars fa-stack-1x fa-rotate-315 search-genes-legend-stripe-icon"></i></span></span>
        <span class="search-genes-legend-name">Genes you searched with are indicated with stripes</span>
      </div>
    </div>
  </qtip>

  <div id="graph-button-save" class="graph-button activatable graph-button-row-8"><i class="fa fa-save"></i></div>
  <qtip
    qtip-target="graph-button-save"
    qtip-id="save-data"
    qtip-adjust-method="shift"
    qtip-adjust-resize="true"
    qtip-pos-my="left center" qtip-pos-at="right center"
    qtip-class="qtip-no-padding"
  >
    <div class="save-data-qtip-content">
      <div class="save-data-option activatable-bg" on-tap="result.report()">
        <i class="fa fa-file-pdf-o"></i> Report
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveImage()">
        <i class="fa fa-file-image-o"></i> Network image <br/> <span class="small">As shown</span>
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveImage({ plainLabels: true })">
        <i class="fa fa-file-image-o"></i> Network image <br/> <span class="small">With plain, top labels</span>
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveText()">
        <i class="fa fa-file-text-o"></i> Network
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveNetworks()">
        <i class="fa fa-file-text-o"></i> Networks data
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveAttributes()">
        <i class="fa fa-file-text-o"></i> Attributes data
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveGenes()">
        <i class="fa fa-file-text-o"></i> Genes data
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveFunctions()">
        <i class="fa fa-file-text-o"></i> Functions data
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveInteractions()">
        <i class="fa fa-file-text-o"></i> Interactions data
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveParamsText()">
        <i class="fa fa-file-text-o"></i> Search parameters as text
      </div>

      <div class="save-data-option activatable-bg" on-tap="result.saveParamsJson()">
        <i class="fa fa-file-code-o"></i> Search parameters as JSON
      </div>
    </div>
  </qtip>

</div>
