<div class="interaction-details" ng-class="{ 'interaction-details-selected': rI.id === rIntn.id }">
  <p>
    {{rNet.network.name}} <a target="_blank" href="{{rNet.network.metadata.url}}"><span class="fa fa-external-link"></span></a>
  </p>

  <span class="interaction-bar interaction-bar-abs">
    <span class="interaction-color" ng-style="{ 'width': rI.absoluteWeightPercent * 100 + '%', 'background-color': rNet.color }"></span>
  </span>
  <span class="interaction-percent">{{rI.absoluteDisplayWeight}}</span>
</div>
