<div ng-controller="NetworksCtrl">

  <div class="network-list-expander activatable network-list-expanded-{{result.networksExpanded ? true : false}}" on-tap="result.toggleNetworksExpansion()">
    <span class="network-list-expander-icon fa fa-navicon"></span>
    <span class="network-list-expander-arrow fa fa-angle-left" ng-show="!result.networksExpanded"></span>
    <span class="network-list-expander-arrow fa fa-angle-right" ng-show="result.networksExpanded"></span>
  </div>

  <div id="network-list" class="network-list networks scrollable scrollable-y networks-query-history-expanded-{{query.historyExpanded ? true : false}} network-list-expanded-{{result.networksExpanded ? true : false}}">

    <div class="network-list-title">
      Networks
    </div>

    <div class="network-list-loading" ng-if="query.result != null && query.result.searchPromise != null">
      <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div bindonce="result" ng-repeat="rGr in result.resultAllGroups" ng-show="query.result != null && query.result.searchPromise == null">

      <div class="network-group">
        <span class="network-group-check activatable-relative" on-tap="result.toggleNetworkGroup(rGr)"><span class="check check-{{rGr.enabled}}"></span></span>
        <span class="network-group-expander"><span class="fa" ng-class="{ 'fa-caret-right': !rGr.expanded, 'fa-caret-down': rGr.expanded }"></span></span>
        <span class="network-group-name activatable-relative network-group-name-highlighted-{{rGr.highlighted ? true : false}}"
          on-tap="result.toggleNetworkGroupExpansion(rGr)"
          on-hoverover="result.rateLimitedHighlight(rGr.isResultAttributeGroup ? { attributeGroups: [ rGr.attributeGroup.id ] } : { networkGroups: [ rGr.networkGroup.id ] })"
          on-hoverout="result.rateLimitedUnhighlight(rGr.isResultAttributeGroup ? { attributeGroups: '*' } : { networkGroups: '*' })"
        >
          <span bo-if="rGr.isResultNetworkGroup" bo-text="rGr.networkGroup.name"></span>
          <span bo-if="rGr.isResultAttributeGroup" bo-text="rGr.attributeGroup.name"></span>
        </span>
        <span class="network-group-bar">
          <span class="network-group-color" bo-style="{ 'width': rGr.weight * 100 + '%', 'background-color': rGr.color }"></span>
        </span>
        <span class="network-group-percent" bo-text="rGr.displayWeight"></span>

        <div class="network-group-networks network-group-networks-expanded-{{rGr.expanded ? true : false}}">
          <div class="network" ng-if="rGr.isResultNetworkGroup" ng-repeat="rNet in rGr.resultNetworks">
            <div ng-include="'templates/result-network.html'"></div>
          </div>

          <div class="network" ng-if="rGr.isResultAttributeGroup" ng-repeat="rNet in rGr.resultAttributes">
            <div ng-include="'templates/result-network.html'"></div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
