<p bo-if="net.metadata.title">
  <span class="fa fa-file-o"></span>
  <span class="query-network-title" bo-text="net.metadata.title"></span>
  <span class="query-network-authors" bo-text="net.metadata.shortAuthors"></span>
  <span class="query-network-year">(<span bo-text="net.metadata.yearPublished"></span>)</span>.
  <span class="query-network-publication" bo-text="net.metadata.publicationName"></span>
  <a target="_blank" bo-href="net.metadata.url"><span class="fa fa-external-link"></span></a>
</p>

<p>
  <span class="query-network-source">
    <span class="fa fa-share-alt"></span>
    <span bo-text="net.metadata.networkType"></span>
    <a target="_blank" href="http://pages.genemania.org/help/#GeneMANIA_network_categories"><spam class="fa fa-info-circle"></span></a>
    with <span bo-text="net.metadata.interactionCountFormatted"></span> interactions from
    <span bo-text="net.metadata.sourceName"></span> <a target="_blank" bo-href="net.metadata.sourceUrl"><span class="fa fa-external-link"></span></a>
  </span>
</p>

<p bo-if="net.metadata.comment">
  <span class="query-network-comment">
    <span class="fa fa-info-circle"></span>
    <span bo-text="net.metadata.comment"></span>
  </span>
</p>

<p bo-if="net.metadata.invalidInteractions">
  <span class="query-network-invalid-interactions">
    <span class="fa fa-warning"></span> Invalid gene symbols:

    <span ng-repeat="intn in net.metadata.invalidInteractions" bindonce>
      <span bo-text="intn"></span>;
    </span>
  </span>
</p>

<p>
  <span class="query-network-tag" bindonce ng-repeat="tag in net.tags"><span class="fa fa-tag"></span>&nbsp;<span bo-text="tag.nameFormatted"></span></span>
</p>
