<div ng-controller="QueryCtrl">

  <div id="query" class="query query-expanded-{{query.expanded ? true : false}} query-ready-{{query.ready ? true : false}} query-app-ready-{{query.appReady ? true : false}} query-splashed-{{query.splashed ? true : false}} query-searching-{{query.result && query.result.searchPromise ? true : false}}">
    <div class="query-progress">
      <div class="query-progress-value" style="width: {{query.$$search.progress}}%"></div>
    </div>

    <div class="query-item query-button query-expander activatable" on-tap="query.toggleExpand()"><span class="query-expander-icon fa fa-chevron-right"></span></div>

    <div class="query-item query-expander-content">
      <div id="query-organism" class="query-item query-button query-organism activatable">
        <span class="query-organism-icon {{query.organism.icon}}"></span>
      </div>
      <qtip qtip-target="query-organism" qtip-viewport-target="query-qtip-viewport" qtip-id="query-organism" qtip-adjust-method="shift" qtip-adjust-resize="false" qtip-class="qtip-no-padding qtip-query-aligned qtip-top-pointing-fix">
        <div id="query-organism-select" class="query-organism-select scrollable">
          <div class="query-organism-select-item clearfix activatable-bg" ng-repeat="org in query.organisms track by org.id" on-tap="query.setOrganism( org )">
            <span class="query-organism-select-radio radio radio-{{query.organism === org}}"></span>
            <span class="query-organism-select-icon" bindonce bo-class="org.icon"></span>
            <span class="query-organism-select-name" bindonce bo-bind="org.alias"></span>
          </div>
        </div>
      </qtip>

      <div class="query-item query-genes">
        <a class="query-genes-example ng-animate-fade plain-link" ng-show="!query.validatingGenes && !query.genesExpanded || !query.genesText" on-tap="query.setExampleGenes(); query.openGenesArea();">e.g.</a>
        <span class="query-genes-loader" ng-show="query.validatingGenesUi"><span class="fa fa-refresh fa-spin"></span></span>
        <span class="query-genes-invalid-count ng-animate-fade" ng-show="!query.validatingGenes && query.genesExpanded && query.genesText && query.invalidGenesCount !== 0">
          <span class="query-genes-invalid-count-number">
            <span ng-bind="query.invalidGenesCount"></span>
          </span>
        </span>

        <div class="query-genes-expander scrollable" on-self-tap-prevent-default ng-class="{ 'query-genes-expander-expanded': query.genesExpanded }">
          <div id="query-genes-validation" class="query-genes-validation" ng-class="{ 'query-genes-validation-loading': query.validatingGenes || query.settingGenes }">
            <div class="query-genes-validation-entry" ng-repeat="vEntry in query.geneValidations">
              <span class="fa fa-check query-gene-valid-icon" ng-if="vEntry.type === 'VALID'"></span>
              <span class="fa query-gene-invalid-icon" ng-if="vEntry.type === 'INVALID'"></span>
              <span class="fa fa-minus query-gene-empty-icon" ng-if="vEntry.type === 'EMPTY'"></span>
              <span class="fa fa-tag query-gene-tag-icon" ng-if="vEntry.type === 'TAG'"></span>
              <span class="fa fa-check query-gene-duplicate-icon" ng-if="vEntry.type === 'DUPLICATE'"></span>
            </div>
          </div>
          <div id="query-genes-spellchecks" class="query-genes-spellchecks" ng-class="{ 'query-genes-validation-loading': query.validatingGenes || query.settingGenes }" ng-bind="query.geneSpellchecks">
          </div>
          <textarea
            id="query-genes-textarea" wrap="off" class="query-genes-textarea" spellcheck="false"
            ng-model="query.genesText" ng-trim="false" ng-change="query.setGenesFromText()"
            ng-focus="query.expandGenes()" ng-blur="query.collapseGenes()"
            ng-jquery-plugin="{ autosize: { callback: respRestyle } }"
            on-ctrl-enter-blur-and="query.search()"
            on-line-select="query.describeGeneLine( $lineIndex )"
            on-esc-blur
            on-shortcut-focus="/"
          ></textarea>
        </div>

        <popover id="query-genes-expander-instr" class="query-genes-expander-instr bottom popover-help ng-animate-fade" ng-show="query.genesExpanded">
          <span ng-if="!query.geneLineDescr || query.geneLineDescr.type === 'EMPTY'">
            <span class="fa fa-info-circle"></span> Enter one gene per line
          </span>
          <span ng-if="query.geneLineDescr">
            <span ng-if="query.geneLineDescr.type === 'VALID'">
              <span class="bio-helix"></span> {{query.geneLineDescr.name}} <br />
              <span class="query-genes-expander-descr">{{query.geneLineDescr.description}}</span>
            </span>
            <span ng-if="query.geneLineDescr.type === 'DUPLICATE'">
              <span class="bio-helix"></span> {{query.geneLineDescr.name}} <br />
              <span class="query-genes-expander-descr"><i class="fa fa-copy"></i> This gene is a duplicate of a previous entry in this list.</span>
            </span>
            <span ng-if="query.geneLineDescr.type === 'INVALID'">
              <span class="fa fa-question-circle"></span> {{query.geneLineDescr.name}} <br />
              <span class="query-genes-expander-descr query-genes-expander-descr-invalid">unrecognised gene</span>
            </span>
          </span>
        </popover>

      </div>

      <div id="query-more" class="query-item query-button query-more activatable"><span class="fa fa-ellipsis-v"></span></div>
      <qtip qtip-target="query-more" qtip-id="query-more" qtip-adjust-method="shift" qtip-adjust-resize="false" qtip-viewport-target="query-qtip-viewport" class="query-more-content" qtip-class="qtip-no-padding qtip-query-aligned qtip-top-pointing-fix" qtip-scope-id="queryMore" qtip-digest-on-show="true">

        <div ng-show="!query.editingAdvanced" class="query-network-groups-header">

          <span class="query-network-groups-master-checker" ng-hide="query.showingNetworkSortOptions">
            <span class="query-network-groups-master-checker-icon activatable-relative" on-tap="query.toggleNetworkCheckOptions()">
              <span ng-if="!query.showingNetworkCheckOptions"><span class="fa fa-check"></span></span>
              <span ng-if="query.showingNetworkCheckOptions"><span class="fa fa-times"></span></span>
            </span>

            <span class="query-network-groups-master-checker-options" ng-show="query.showingNetworkCheckOptions">
              <span class="fa fa-check"></span> Enable:
              <a class="query-network-groups-master-checker-option" ng-repeat="opt in query.setNetworkOptions track by $index" bindonce bo-text="opt.name" on-tap="query.setNetworks( opt.name )"></a>
            </span>
          </span>

          <span class="query-network-groups-title" ng-show="!query.showingNetworkSortOptions && !query.showingNetworkCheckOptions">
            Networks <a target="_blank" href="http://pages.genemania.org/help/#Network_data_sources"><i class="fa fa-info-circle"></i></a>
          </span>

          <span class="query-network-groups-sorter" ng-hide="query.showingNetworkCheckOptions">
            <span class="query-network-groups-sorter-options" ng-show="query.showingNetworkSortOptions">
              <span class="fa fa-sort"></span> Sort by:
              <a class="query-network-groups-sorter-option" ng-repeat="factor in query.networkSortFactors track by $index" bindonce bo-text="factor.name" on-tap="query.sortNetworksBy(factor)" ng-class="{ 'query-network-groups-sorter-option-selected': query.selectedNetworkSortFactor.name === factor.name }"></a>
            </span>

            <span class="query-network-groups-sorter-icon activatable-relative" on-tap="query.toggleNetworkSortOptions()">
              <span ng-if="!query.showingNetworkSortOptions"><span class="fa fa-sort"></span></span>
              <span ng-if="query.showingNetworkSortOptions"><span class="fa fa-times"></span></span>
            </span>
          </span>

        </div>

        <div ng-show="!query.editingAdvanced" class="query-network-groups scrollable scrollable-y" id="query-network-groups">
          <div class="query-network-organism" bindonce ng-repeat="org in query.organisms track by org.id" ng-show="query.organism === org">
            <div class="query-network-group">
              <span class="query-network-group-check activatable-relative" on-tap="query.toggleAttributeGroupsSelection()"><span class="check check-{{query.attributeGroupsSelected}}"></span></span>
              <span class="query-network-group-expander fa" ng-class="{ 'fa-caret-right': !query.attributeGroupsExpanded, 'fa-caret-down': query.attributeGroupsExpanded }"></span>
              <span class="query-network-group-name activatable-relative" on-tap-scroll-parent="#query-network-groups" on-tap="query.toggleAttributeGroupsExpansion()">Attributes</span>
              <span class="query-network-group-count">
                <span ng-bind="query.selectedAttributeGroupCount"></span>
                /
                <span ng-bind="(query.attributeGroups.length || 0)"></span>
              </span>

              <div class="query-networks" ng-if="query.attributeGroupsExpanded">
                <div class="query-network" bindonce ng-repeat="attrGr in query.attributeGroups track by attrGr.id">
                  <span class="query-network-check activatable-relative" on-tap="query.toggleAttributeGroupSelection( attrGr )"><span class="check check-{{attrGr.selected}}"></span></span>
                  <span class="query-network-expander fa" ng-class="{ 'fa-caret-right': !attrGr.expanded, 'fa-caret-down': attrGr.expanded }"></span>
                  <span class="query-network-name activatable-relative" bo-text="attrGr.name" on-tap-scroll-parent="#query-network-groups" on-tap="query.toggleAttributeGroupExpansion( attrGr )"></span>

                  <div class="query-network-info" ng-if="attrGr.expanded">
                    <div ng-include="'templates/attribute-group-details.html'"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="query-network-group" bindonce ng-repeat="netGr in org.networkGroups track by netGr.id" bo-attr bo-attr-data-code="netGr.code">
              <span class="query-network-group-check" ng-class="{ 'activatable-relative': netGr.interactionNetworks.length > 0 }" on-tap="query.toggleNetworkGroupSelection( netGr )"><span class="check check-{{netGr.selected}}"></span></span>
              <span class="query-network-group-expander fa" ng-class="{ 'fa-caret-right': !netGr.expanded, 'fa-caret-down': netGr.expanded }"></span>
              <span class="query-network-group-name activatable-relative" bo-text="netGr.name" on-tap-scroll-parent="#query-network-groups" on-tap="query.toggleNetworkGroupExpansion( netGr )"></span>
              <span class="query-network-group-count">
                <span ng-bind="netGr.selectedCount"></span>
                /
                <span ng-bind="(netGr.interactionNetworks.length || 0)"></span>
              </span>

              <div class="query-networks" ng-if="netGr.expanded">
                <div class="query-network" bindonce ng-repeat="net in netGr.interactionNetworks track by net.id">
                  <span class="query-network-check activatable-relative" on-tap="query.toggleNetworkSelection( net )"><span class="check check-{{net.selected}}"></span></span>
                  <span class="query-network-expander fa" ng-class="{ 'fa-caret-right': !net.expanded, 'fa-caret-down': net.expanded }"></span>
                  <span class="query-network-name activatable-relative" bo-text="net.name" on-tap-scroll-parent="#query-network-groups" on-tap="query.toggleNetworkExpansion( net )"></span>

                  <span class="query-network-delete activatable" bo-if="net.uploaded" on-tap="net.removing ? false : query.removeNetwork( net )">
                    <i ng-show="!net.removing" class="fa fa-times"></i>
                    <i ng-show="net.removing" class="fa fa-refresh fa-spin"></i>
                  </span>

                  <div class="query-network-info" on-tap="query.removeNetwork( net )" ng-if="net.expanded">
                    <div ng-include="'templates/network-details.html'"></div>
                  </div>
                </div>
              </div>

              <div class="query-network-upload" ng-if="netGr.expanded && netGr.code === 'uploaded'">
                <span class="query-network-upload-text">
                  <a class="query-network-upload-link plain-link" ng-show="!query.addingNetwork">
                    <i class="fa fa-plus"></i>
                    Upload a network
                  </a>

                  <span ng-show="query.addingNetwork">
                    <i class="fa fa-refresh fa-spin"></i>
                    Uploading network
                  </span>

                  <div class="query-upload-input-area activatable query-upload-adding-network-{{query.addingNetwork ? true : false}}">
                    <div class="query-upload-input-area-wrapper">
                      <input type="file" class="query-upload-input" on-select-file="query.addNetwork( $file )" />
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div id="query-adv-opts" class="query-adv-opts scrollable" ng-show="query.editingAdvanced">
          <div class="query-adv-opt-name">Max resultant genes: {{query.maxGenes}}</div>
          <div class="query-slider-container">
            <input class="query-slider slider-dark-bg" type="range" autocomplete="off" ng-model="query.maxGenes" min="0" max="100" />
          </div>

          <div class="query-adv-opt-name">Max resultant attributes: {{query.maxAttrs}}</div>
          <div class="query-slider-container">
            <input class="query-slider slider-dark-bg" type="range" autocomplete="off" ng-model="query.maxAttrs" min="0" max="100" />
          </div>

          <div class="query-adv-opt-name">Network weighting</div>
          <div class="query-weighting-group" ng-repeat="wgGr in query.weightingGroups track by $index">
            <div class="query-weighting-group-name" bindonce bo-text="wgGr.name"></div>

            <div class="query-weighting activatable-bg" ng-repeat="wg in wgGr.weightings track by $index" on-tap="query.setWeighting(wg)">
              <span class="query-weighting-radio radio radio-{{wg.value === query.weighting.value}}"></span>
              <span class="query-weighting-name" bindonce bo-text="wg.name"></span>
            </div>
          </div>
        </div>

        <div class="query-adv-footer activatable-bg" on-tap="query.toggleEditAdvanced()">
          <span ng-show="!query.editingAdvanced" class="query-weightings-edit-link"><span class="fa fa-wrench"></span> Customise advanced options</span>
          <span ng-show="query.editingAdvanced" class="query-weightings-edit-link"><span class="fa fa-arrow-left"></span> Back to networks</span>
        </div>

      </qtip>

      <div class="query-item query-button query-submit activatable" on-tap="query.searchOrCancel()">
        <span class="query-search-icon spiral-white fa"></span>
        <span class="query-submit-icon fa fa-search" ng-show="!query.result || !query.result.searchPromise"></span>
      <!--
        <span ng-show="query.result && query.result.searchPromise" class="fa fa-circle-o-notch fa-spin"></span>
        <span ng-show="!query.result || !query.result.searchPromise" class="fa fa-search"></span>
      -->
      </div>
    </div>
  </div>

  <div id="query-qtip-viewport" class="query-qtip-viewport query-qtip-viewport-splashed-{{query.splashed ? true : false}}"></div>

  <div class="query-overlay" ng-class="{ 'query-overlay-shown': query.result != null && query.result.searchPromise != null }"></div>

  <div class="query-overlay" ng-class="{ 'query-overlay-shown': query.result != null && query.result.error }">

    <div class="query-overlay-notification">
      <div class="query-overlay-notification-icon">
        <i class="fa fa-warning"></i>
      </div>

      <div class="query-overlay-notification-text" ng-if="!query.genesText">
        Please specify the names of your genes of interest in order to carry out your search.
      </div>

      <div class="query-overlay-notification-text" ng-if="query.genesText">
        Please specify a set of valid gene names and try again.
      </div>
    </div>

  </div>

</div>
