<div ng-controller="SelectedInfoCtrl">
  <div class="selected-info selected-info-open-{{result.selectedInfoOpen ? true : false}} selected-info-highlighted-{{ result.highlights.genes.length > 0 || result.highlights.interactions.length > 0 || result.highlights.attributes.length > 0 }}">
    <div class="selected-info-close activatable" on-tap="result.closeSelectedInfo()">
      <i class="fa fa-times"></i>
    </div>

    <div ng-if="rGene" on-hoverover="result.rateLimitedHighlight({ genes: [ rGene.gene.id ] })" on-hoverout="result.rateLimitedUnhighlight({ genes: [ rGene.gene.id ] })">
      <div class="selected-info-title">
        {{rGene.gene.symbol}}
      </div>
      <div class="selected-info-details">
        <div ng-include="'templates/gene-details-dyn.html'"></div>
      </div>
    </div>

    <div ng-if="rAttr" on-hoverover="result.rateLimitedHighlight({ attributes: [ rAttr.attribute.id ] })" on-hoverout="result.rateLimitedUnhighlight({ attributes: [ rAttr.attribute.id ] })">
      <div class="selected-info-title">
        {{rAttr.attribute.name}}
      </div>
      <div class="selected-info-details">
        <div ng-include="'templates/attribute-details-dyn.html'"></div>
      </div>
    </div>

    <div ng-if="rIntn" on-hoverover="result.rateLimitedHighlight({ interactions: [ rIntn.id ] })" on-hoverout="result.rateLimitedUnhighlight({ interactions: [ rIntn.id ] })">
      <div class="selected-info-title">
        {{rIntn.fromGene.name}} - {{rIntn.toGene.name}}
      </div>
      <div class="selected-info-details">
        <div ng-include="'templates/interaction-details-dyn.html'"></div>
      </div>
    </div>
  </div>
</div>
