<div ng-controller="SelectedInfoCtrl">
  <div ng-show="query.result != null && query.result.searchPromise == null" class="selected-info selected-info-open-{{result.selectedInfoOpen ? true : false}}">

    <div ng-if="rGene" on-hoverover="result.rateLimitedHighlight({ genes: [ rGene.gene.id ] })" on-hoverout="result.rateLimitedUnhighlight({ genes: [ rGene.gene.id ] })">
      <div ng-include="'templates/selected-info-close.html'"></div>
      <div class="selected-info-title">
        {{rGene.gene.symbol}}
      </div>
      <div class="selected-info-details">
        <div ng-include="'templates/gene-details-dyn.html'"></div>
      </div>
      <div class="selected-info-commands">
        <span class="activatable selected-info-command" ng-class="{ 'disabled': rGene.queryGene }" on-tap="query.addGenes(rGene.name); query.search();">
          <sup><i class="fa fa-plus"></i></sup><i class="fa fa-search"></i>
          <span class="selected-info-description">Add</span>
        </span>

        <span class="activatable selected-info-command" ng-class="{ 'disabled': !rGene.queryGene }" on-tap="query.removeGenes(rGene.name); query.search();">
          <sup><i class="fa fa-minus"></i></sup><i class="fa fa-search"></i>
          <span class="selected-info-description">Remove</span>
        </span>

        <span class="activatable selected-info-command"  on-tap="query.setGenes(rGene.name); query.search();">
          <sup><i class="fa fa-circle"></i></sup><i class="fa fa-search"></i>
          <span class="selected-info-description">Only</span>
        </span>
      </div>
    </div>

    <div ng-if="rAttr" on-hoverover="result.rateLimitedHighlight({ attrs: [ rAttr.attribute.id ] })" on-hoverout="result.rateLimitedUnhighlight({ attrs: [ rAttr.attribute.id ] })">
      <div ng-include="'templates/selected-info-close.html'"></div>
      <div class="selected-info-title">
        {{rAttr.attribute.name}}
      </div>
      <div class="selected-info-details">
        <div ng-include="'templates/attribute-details-dyn.html'"></div>
      </div>
    </div>

    <div ng-if="rIntns" on-hoverover="result.rateLimitedHighlight({ interactions: intnIds })" on-hoverout="result.rateLimitedUnhighlight({ interactions: intnIds })">
      <div ng-include="'templates/selected-info-close.html'"></div>
      <div class="selected-info-title">
        {{rIntn.fromGene.name}} - {{rIntn.toGene.name}}
      </div>
      <div class="selected-info-details">
        <div ng-repeat="rI in rIntns track by rI.id">
          <div ng-init="rNet = rI.resultNetwork; net = rNet.network">
            <div ng-include="'templates/interaction-details-dyn.html'"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
