<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://${genemaniaDbHost}:${genemaniaDbPort}/${genemaniaDbName}?autoReconnect=true</property>
        <property name="connection.username">${genemaniaDbUser}</property>
        <property name="connection.password">${genemaniaDbPass}</property>
        <!-- Connection pool settings -->
        <property name="hibernate.c3p0.min_size">0</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">30</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.EHCacheProvider</property>
        <!-- Echo all executed SQL to stdout -->
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="show_sql">true</property>        
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <!-- mappings -->
		<mapping resource="Organism.hbm.xml"/>        
		<mapping resource="InteractionNetworkGroup.hbm.xml"/>        
		<mapping resource="InteractionNetwork.hbm.xml"/>        
		<mapping resource="Interaction.hbm.xml"/>        
		<mapping resource="Node.hbm.xml"/>
		<mapping resource="Gene.hbm.xml"/>
		<mapping resource="GeneData.hbm.xml"/>
		<mapping resource="GeneNamingSource.hbm.xml"/>
		<mapping resource="Ontology.hbm.xml"/>
		<mapping resource="OntologyCategory.hbm.xml"/>
		<mapping resource="Statistics.hbm.xml"/>
		<mapping resource="NetworkMetadata.hbm.xml"/>
        <mapping resource="Tag.hbm.xml"/>
        <mapping resource="NetworkTagAssoc.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
