.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
	.noselect;

	font-family: helvetica neue, helvetica, sans-serif;
	font-size: 14px;
	background: @BG_COLOR;
	line-height: 1;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-text-size-adjust: 100%;
	width: 100%;
	height: 100%;
}

* {
  outline: 0;
}

a {
	color: @LINK_COLOR;
	text-decoration: underline;
	cursor: pointer;

	.activatable-relative;
}

.plain-link {
	text-decoration: none;
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.scrollable {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	.transform( translate3d(0, 0, 0) ); // workaround b/c chrome is broken
}

.scrollable-x {
	overflow-y: hidden;
}

.scrollable-y {
	overflow-x: hidden;
}

.check,
.radio {
	width: 1em;

	color: @LINK_COLOR;

	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.check:before {
	content: "\f096";
}

.check-true:before {
	content: "\f046";
}

.check-semi:before {
	content: "\f147";
}

.radio:before {
	content: "\f1db";
}

.radio-true:before {
	content: "\f111";
}

.disabled-true,
.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.monospace {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.spiral {
	background-image: url('../img/spiral.svg');
	background-size: cover;
	display: inline-block;
	width: 1em;
	height: 1em;
}

.spiral-white {
	.spiral;
	background-image: url('../img/spiral-white.svg');
}

.spiral-spin {
	.animation( spin 1s infinite linear );
	//.animation-direction( reverse );
	.transform-origin( 48% 50% );
}


.list-extremity {
	display: block;
	border-bottom: double 4px #ddd;
	height: 1px;
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
}

.fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

sup {
   vertical-align: super;
   font-size: 0.75em;
}
