// colours
@BG_COLOR: #fff;
@BUTTON_COLOR: #8BB0D0;
@BUTTON_COLOR_SEMI: rgba(139, 176, 208, 0.85);
@LINK_COLOR: #8BB0D0;
@SEPARATOR_COLOR: #f0f0f0;
@VALIDATION_ERROR_COLOR: rgba(255, 0, 0, 0.666); //#E81515;
@VALIDATION_ALL_VALID_COLOR: #4FC44F;
@HEADER_COLOR: #f0f0f0;

// sizes
@SMALL_SCREEN_WIDTH: 800px;
@DEFAULT_DATA_WIDTH: 30em;

// container
@qH: 2.5em;
@qItemW: @qH * 1.125;
@qBg: rgba(240, 240, 240, 0.85); //#eee;
@qSepColor: darken(@qBg, 10%);
@qBorderColor: darken(@qBg, 1%);
@qBorderRadius: 0.5em;
@qMoveAniSpd: 0.25s;
@qMargin: 0.25em;

// splash
@qSplashX: 0;
@qSplashY: 75px;

// organism
@qOrgP: 0.5em;

// genes
@qGenesW: 10em;
@qGenesMargin: 0.25em;
@qGenesH: @qH - 2 * @qGenesMargin;
@qGenesExpH: 140px;
@qGenesValW: 1.333em;
@qGenesLineHeight: 18px;
@qGenesPaddingLeft: 3em;
@qGenesAniDelay: 0.25s;

// expander
@qExpAniDur: 0.25s;
@qExpW: 3*@qItemW + @qGenesW + 2*@qGenesMargin + 0.25em;

// calculated query width
@qW: 4*@qItemW + @qGenesW + 2*@qGenesMargin + 0.25em;

// more / advanced
@qMoreW: @qW - 0.25em;
@qMoreH: 30em;

// networks
@qNetP: 0.25em;
@qNetNameSpacing: 3.5em; // because scrollbars mess up calcs
@qNetGrsH: 16em;
@qNetGrsTitleH: 1.5em;

// qtips
@qQtipVpOffset: 10px;

// history
@qHistSize: 10em;
@qHistP: 1em;
@qHistExpSize: 3em;
@qHistBg: rgba(0, 0, 0, 0.125);

// networks
@netListW: 14em;
@netNameW: @netListW - 3em;
@netBarH: 0.8em;
@netLeftM: 2em;
@netBorderColor: lighten(@SEPARATOR_COLOR, 2%);