/*
  Icon Font: model-organism-icons
*/

@font-face {
  font-family: "model-organism-icons";
  src: url("../fonts/model-organism-icons.eot");
  src: url("../fonts/model-organism-icons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/model-organism-icons.woff") format("woff"),
       url("../fonts/model-organism-icons.ttf") format("truetype"),
       url("../fonts/model-organism-icons.svg#model-organism-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "model-organism-icons";
    src: url("../fonts/model-organism-icons.svg#model-organism-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.org-cells:before,
.org-fish:before,
.org-fly:before,
.org-human:before,
.org-mouse:before,
.org-plant:before,
.org-rat:before,
.org-worm:before {
  display: inline-block;
  font-family: "model-organism-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.org-cells:before { content: "\f100"; }
.org-fish:before { content: "\f101"; }
.org-fly:before { content: "\f102"; }
.org-human:before { content: "\f103"; }
.org-mouse:before { content: "\f104"; }
.org-plant:before { content: "\f105"; }
.org-rat:before { content: "\f106"; }
.org-worm:before { content: "\f107"; }
