.ng-animate-fade {
  transition-property: visibility, opacity;
  transition-duration: 0.25s;
  display: block !important;

  &.ng-hide {
  	opacity: 0;
  	visibility: hidden;
  }
}

.ng-animate-fade-inline-block {
  transition-property: visibility, opacity;
  transition-duration: 0.25s;
  display: inline-block !important;

  &.ng-hide {
    opacity: 0;
    visibility: hidden;
  }
}

.ng-animate-fade-slow {
  transition-property: visibility, opacity;
  transition-duration: 0.5s;
  display: block !important;

  &.ng-hide {
  	opacity: 0;
  	visibility: hidden;
  }
}