.query-history-expander {
	@l: @qHistExpSize;

	z-index: 999;
	position: absolute;
	bottom: 2*@qHistP + @qHistSize;
	left: 50%;
	margin-left: -@l/2;
	background: @qHistBg;
	width: @l;
	height: @l*0.666;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	text-align: center;
	cursor: pointer;

	.transform( translate3d(0, 0, 0) );
	.transition( transform linear 150ms );
}

.query-history-expander-icon {
	font-size: 1.25em;
	margin: 0.666em 0;
	color: @CONTENT_TEXT_COLOR;
}

.query-history-expander-arrow {
	position: absolute;
	left: 50%;
	margin-left: -0.25em;
	font-size: 1.15em;
	color: darken(@CONTENT_TEXT_COLOR, 15%);
}

.query-history {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: @qHistSize;
	padding: @qHistP;
	background: @qHistBg;
	// background: red;
	z-index: 999;
	white-space: nowrap;

	.transform( translate3d(0, 0, 0) );
	.transition( transform linear 150ms );
}

.query-history-entry,
.query-history-delete {
	position: relative;
	width: @qHistSize;
	height: @qHistSize;
	cursor: pointer;
	display: inline-block;

	& + .query-history-entry {
		border-left: 1px solid rgba(0, 0, 0, 0.125);
	}

	// background: blue;
}

.query-history-entry {
	background-color: @qHistEntBg;
}

.query-history-ender {
	height: @qHistSize;
	width: 0.5em;
	// background: red;
	display: inline-block;
	position: relative;
}

.query-history-organism-icon {
	font-size: 2em;
	opacity: 0.4;
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	margin: 0.1em;
}

.query-history-image {
	@p: 1.5em;

	position: absolute;
	left: @p;
	top: @p;
	width: @qHistSize - 2*@p;
	height: @qHistSize - 2*@p;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: 10;
}

.query-history-delete-icon {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 1em;
	left: 0;
	text-align: center;
	top: 50%;
	margin-top: -0.5em;
	font-size: 4em;
	color: #555;
}

.query-history-label,
.query-history-delete-label {
	z-index: 100;
	color: #666;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

.query-history-label {
	.monospace;
}

.query-history-number {
	position: absolute;
	right: 0;
	top: 0;
	color: #888;
	margin: 0.25em;
}

.query-history-expanded-false {
	.transform( translate3d(0, @qHistSize + 1.5*@qHistP, 0) );
}

.query-history-empty {
	color: #555;
}

.query-history-loading {
	color: #555;
}
