@import 'constants.less';
@import 'lesshat.less';
@import 'animate.less';
@import 'animate-extras.less';

// container
@qH: 2.5em;
@qItemW: @qH * 1.25;
@qBg: #eee;
@qSepColor: darken(@qBg, 10%);
@qBorderColor: darken(@qBg, 1%);
@qBorderRadius: 0.5em;

// organism
@qOrgP: 0.5em;

// genes
@qGenesW: 10em;
@qGenesMargin: 0.25em;
@qGenesH: @qH - 2 * @qGenesMargin;
@qGenesExpH: 10em;
@qGenesValW: 1.333em;
@qGenesLineHeight: 1.25em;
@qGenesPaddingLeft: 3em;
@qGenesAniDelay: 0.25s;

// expander
@qExpAniDur: 0.15s;
@qExpW: 3*@qItemW + @qGenesW + 2*@qGenesMargin + 0.25em;

// calculated query width
@qW: @qItemW * 4 + @qGenesW + @qGenesValW - @qOrgP;

// more / advanced
@qMoreW: @qW - 0.25em;
@qMoreH: 30em;

// networks
@qNetP: 0.25em;
@qNetNameSpacing: 3.5em; // because scrollbars mess up calcs
@qNetGrsH: 16em;
@qNetGrsTitleH: 1.5em;

#query {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0.25em;
	z-index: 9999;
	background: @qBg;
	border: 1px solid @qBorderColor;
	border-radius: @qBorderRadius;
	float: left;
	border-bottom: 2px solid darken(@qBorderColor, 30%);
	border-left-color: darken(@qBorderColor, 15%);
	border-right-color: darken(@qBorderColor, 15%);
}

.query-expander {
	.query-action;

	position: relative;
	z-index: 9999;

	border-top-left-radius: @qBorderRadius;
	border-bottom-left-radius: @qBorderRadius;
}

.query-expander-icon {
	.transition-property( transform );
	.transition-duration( @qExpAniDur );
}

.query-expanded-false .query-expander-icon {
	.transform( rotate(90deg) );
}

.query-expander-content {
	border-left: 1px solid @qSepColor;

	.transition-property( width, opacity, transform, margin-left );
	.transition-duration( @qExpAniDur );

	margin-left: 0;
	opacity: 1;
}

.query-expanded-false .query-expander-content {
	@offset: @qExpW + @qItemW;
	opacity: 0;
	margin-left: -@offset;
}

.query-item {
	display: block;
	height: @qH;
	float: left;
	position: relative;
}

.query-button {
	line-height: @qH;
	width: @qItemW;
	text-align: center;
	cursor: pointer;
}

.query-action {
	color: #888;
}

.query-submit {
	.query-action;

	margin: -1px;
	margin-left: 1px;
	border: 1px solid @BUTTON_COLOR;
	border-left: 1px solid @qSepColor;
	border-top-right-radius: @qBorderRadius;
	border-bottom-right-radius: @qBorderRadius;

	background: @BUTTON_COLOR;
	color: #fff;
}

.query-more-content {
	width: @qMoreW;
	height: @qMoreH;
	overflow: hidden;
}
