@import 'constants.less';

// container
@qH: 2.5em;
@qItemW: @qH * 1.25;
@qBg: rgba(220, 220, 220, 0.5);
@qSepColor: darken(@qBg, 10%);
@qBorderColor: darken(@qBg, 1%);
@qBorderRadius: 0.5em;

// genes
@qGenesW: 10em;
@qGenesMargin: 0.25em;
@qGenesH: @qH - 2 * @qGenesMargin;
@qGenesExpH: 10em;
@qGenesValW: 1.333em;
@qGenesLineHeight: 1.25em;
@qGenesPaddingLeft: 3em;
@qGenesAniDelay: 0.25s;


#query {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0.25em;
	z-index: 9999;
	background: @qBg;
	border: 1px solid @qBorderColor;
	border-radius: @qBorderRadius;
	float: left;

}

.query-item {
	display: inline-block;
	height: @qH;
	float: left;
	
}

.query-button {
	line-height: @qH;
	width: @qItemW;
	text-align: center;
	cursor: pointer;

	&:active {
		background: darken(@qBg, 50%);
	}
}

.query-organism * {
	font-size: 2em;
}

.query-genes {
	position: relative;
	width: @qGenesW;
	height: @qGenesH;
	margin: @qGenesMargin;
}

.query-genes-expander {
	@c: #fcfcfc;
	@bw: 1px;

	background: @c;
	border: @bw solid darken(@c, 10%);
	position: absolute;
	left: -@bw; // offset border
	top: 0;
	width: @qGenesW;
	height: @qGenesH;
	overflow: hidden;
	overflow-y: scroll;

	transition-property: height;
	transition-duration: 150ms;
}

.query-genes-expander-expanded {
	height: @qGenesExpH;
}

.query-genes-expander-expanded .query-genes-validation,
.query-genes-expander-expanded .query-genes-textarea {
	min-height: @qGenesExpH;
}

.query-genes-expander-instr {
	position: absolute;
	left: -1px;
	right: -1px;
	top: @qGenesExpH;
	z-index: 999;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
	text-align: center;
	height: 1.5em;
	line-height: 1.5em;
}

.query-genes-expander-instr-text {
	font-size: 0.8em;
}

.query-genes-validation {
	position: absolute;
	left: 0;
	top: 0;
	height: @qGenesExpH;
	width: @qGenesValW;
	line-height: @qGenesLineHeight;
	text-align: center;

	// background: rgba(0, 0, 255, 0.5);
	// background: #888;
	// color: #fff;
	background: #f0f0f0;

	transition-property: opacity;
	transition-duration: 0.25s;
	transition-delay: @qGenesAniDelay;
}

.query-genes-validation-loading {
	opacity: 0.333;
}

.query-genes-validation-entry * {
	//font-size: 0.8em;
}

.query-genes-textarea {
	@padding: 0.125em;

	position: absolute;
	left: @qGenesValW;
	top: 0;
	padding-left: @padding;
	width: @qGenesW - @qGenesValW - @padding;
	height: @qGenesExpH;
	overflow: hidden;
	line-height: @qGenesLineHeight;
	white-space: nowrap;

	// background: rgba(255, 0, 0, 0.5);
	background: #fff;
}

.query-genes-example {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 0.25em;
	height: @qGenesH;
	line-height: @qGenesH;
	z-index: 999;

	transition-delay: @qGenesAniDelay;
}

.query-genes-loader {
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	height: @qGenesH;
	line-height: @qGenesH;
	margin-right: 0.25em;
	z-index: 999;

	transition-delay: @qGenesAniDelay;
}

.query-genes-empty-text {
	position: absolute;
	left: @qGenesValW;
	margin-left: 0.125em;
	top: 0;
	height: @qGenesH;
	line-height: @qGenesH;
	z-index: 999;
	color: #888;
	pointer-events: none;
}

.query-gene-empty-icon {
	visibility: hidden;
}

.query-action {
	color: #888;
}

.query-expander {
	.query-action;

	border-right: 1px solid @qSepColor;
	border-top-left-radius: @qBorderRadius;
	border-bottom-left-radius: @qBorderRadius;
}

.query-submit {
	.query-action;

	margin: -1px;
	margin-left: 1px;
	border: 1px solid @BUTTON_COLOR;
	border-left: 1px solid @qSepColor;
	border-top-right-radius: @qBorderRadius;
	border-bottom-right-radius: @qBorderRadius;

	background: @BUTTON_COLOR;
	color: #fff;
}