.graph-button {
	font-size: 1.25em;
	position: absolute;
	background: red;
	width: 1.5em;
	height: 1.5em;
	background: @qBg;
	border: 1px solid @qBorderColor;
	border-bottom-width: 2px;
	border-radius: @qBorderRadius;
	color: @qTextColor;
	text-align: center;
	line-height: 1.5em;
	left: 0.55em;
	top: @qH + 2*@qMargin + 1em;
	cursor: pointer;
	z-index: 2;
}

.generate-rows(16);

.generate-rows(@n, @i: 1) when (@i =< @n) {
  .graph-button-row-@{i} {
    margin-top: (@i - 1) * 1.75em;
  }
  .generate-rows(@n, (@i + 1));
}
