.graph-button {
	font-size: 1.25em;
	position: absolute;
	background: red;
	width: 1.5em;
	height: 1.5em;
	background: @qBg;
	border: 1px solid @qBorderColor;
	border-bottom-width: 2px;
	border-radius: @qBorderRadius;
	color: @qTextColor;
	text-align: center;
	line-height: 1.5em;
	left: 0.55em;
	top: @qH + 2*@qMargin + 1em;
	cursor: pointer;
	z-index: 2;
}

.generate-rows(16);

.generate-rows(@n, @i: 1) when (@i =< @n) {
  .graph-button-row-@{i} {
    margin-top: (@i - 1) * 1.75em;
  }
  .generate-rows(@n, (@i + 1));
}

.save-data-option {
	padding: 0.125em 0.25em;
	border-radius: 0.25em;
}

.save-data-option + .save-data-option {
	border-top: 1px solid #666;
}

.save-data-qtip-content {
	overflow-y: auto;
	max-height: 80%;
	position: relative;
	padding: 0;
}

.graph-info-qtip-content {
	max-width: 18em;
	padding: 0.125em 0.25em;
}

.search-genes-legend {
	border-top: 1px solid #444;
}

.search-genes-legend-color {
	color: transparent;
}

.search-genes-legend-stripe-icon {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8em;
}
